.bestseller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.bestseller-list {
  display: flex;
  list-style-type: none;
}

.bestseller-heading {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .bestseller-list {
    flex-direction: column;
  }
}
