.purchase-full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-full-list {
  margin-top: 10px;
  list-style-type: none;
}

.purchase-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.purchase-item-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

.purchase-item-price {
  margin-left: 10px;
}

.purchase-item-quantity {
  margin-left: 10px;
}
