.admin-container {
  display: flex;

  justify-content: center;
}

.admin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-admin-wrapper {
  margin-top: 80px;
}

.not-admin-wrapper span {
  text-decoration: underline;
  cursor: pointer;
}

.admin-chart-row {
}

.admin-bottom-row {
  display: flex;
}

@media (max-width: 600px) {
  .admin-bottom-row {
    flex-direction: column;
  }
}
