.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.login-register-toggle {
  margin-top: 10px;
}

.login-register-button {
  cursor: pointer;
  width: 150px;
  background-color: white;
  border: 2px solid black;
  height: 50px;
  transition: 0.2s all;
}
.login-register-button:hover {
  background-color: black;
  color: white;
}

#login-register-button-left {
  border-right: none;
  border-radius: 10px 0 0 10px;
}
#login-register-button-right {
  border-left: none;
  border-radius: 0 10px 10px 0;
}

.login-selected {
  background-color: black;
  color: white;
}
