.big-display-container {
  width: 300px;
  height: 360px;
  margin: 0 10px;
  cursor: pointer;
}

.big-display-link {
  color: black;
  text-decoration: none;
  width: 300px;
  height: 360px;
}

.big-display-image {
  width: 100%;
  border-radius: 10px;
  transition: all 0.2s;
}

.big-display-image:hover {
  transform: scale(1.05);
}

.big-display-name {
  font-weight: 200;
  font-size: 1.3rem;
}

.big-display-upper-row {
  display: flex;
  align-items: center;
}

.big-display-stars {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: #c0af71;
}

.big-display-star-p {
  margin-left: 3px;
  margin-top: 2px;
}
