.category-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-page-list {
  margin-top: 20px;
  width: 90%;
  max-width: 1250px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 10px;
}

.category-page-item {
  width: 300px;
  height: 360px;
}

@media (max-width: 600px) {
  .category-page-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
